html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    margin:20px auto;
    width:1280px;
    height:1024px;
    padding:20px;
    background-color: seashell;
} 
h1 {
    text-align: center;
    font-size:36px;
    font-family: 'Times New Roman', Times, serif;
    color:#444;
} 
p {
    text-align: center;
    font-size: 72px;
    font-family: '幼圆';
    background-color: black;
    opacity: 0.3;
}
label {
    font-size: larger;

}
select {
    text-align: center;
    color:#444;
}